/*
.line-shadow {
    position: relative;
  }
  
  .line-shadow::before {
    content: '';
    position: absolute;
    top: 20%; 
    left: -5px;
    height: 60%; 
    width: 1%;
    background: linear-gradient(to bottom, #FF8FFA, #FFCDB1, #FFEB69);
    background-size: 100% 300%; 
    border-radius: 4px; 
    animation: gradientChange 3s ease-in-out infinite;
  }
  
  @keyframes gradientChange {
    0%, 100% {
      background-position: 0 0;
    }
    50% {
      background-position: 0 100%;
    }
  }
*/